*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-family: 'Quicksand', Arial;
    font-size: 10px;
    background: #f0eff4;
}
.contenedor{
    font-size: 1.6rem;
    background: #000;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*width: 100%;
    height: 7.6rem;*/

}
.contenedor ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.contenedor ul li{
    display: inline-block;
}
.contenedor ul li a{
    display: block;
    padding: 2rem;
    width: 14.4rem;
    height: 7.6rem;
    color: white;
    text-decoration: none;
}
.fishmenu:hover{
    background: #da4167;
}
.sparkmenu:hover{
    background:#559f51 ;
}
.chompmenu:hover{
    background:#345995 ;
}
.rockmenu:hover{
    background:#eac435 ;
}
